@model CourseProject.ViewModels.AddEvaluationViewModel
@using (Ajax.BeginForm("AddEv", "Exercise", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "evaluation" }, new { id = "evaluation" }))
{
    @Html.HiddenFor(model => model.ExerciseId)
    <button type="submit" class="btn btn-primary btn-sm" name="evaluationButton" value="like"><span class="glyphicon glyphicon-thumbs-up"></span> @Model.Likes</button>
    <button type="submit" class="btn btn-primary btn-sm" name="evaluationButton" value="dislike"><span class="glyphicon glyphicon-thumbs-down"></span> @Model.Dislikes</button>
}
