@model CourseProject.ViewModels.SendAnswerPartialViewModel
<div id='search-box'>
    @using (Html.BeginForm("SendAnswer", "Exercise", Model))
    {
        @Html.HiddenFor(model => model.TaskId)
        @Html.EditorFor(model => model.Answer)
        <input type="submit" class="btn-success" id="text" value="@Resources.Resource.Send" />
    }
</div>