@model IEnumerable<CourseProject.Models.Exercise>
@{
    ViewBag.Title = "My Profile";
}

<div class="jumbotron">
    <div class="container">
        <br />
        <table class="table table-striped table-hover ">
            <thead>
                <a href="~/Exercise/CreateExercise">Create Exercise</a>
            </thead>
            <tbody>
                @foreach (var exersise in Model)
                {
                    <tr>
                        <td><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></td>
                        @{ string activeAction; }
                        @if(exersise.Active)
                         {
                             activeAction = "Make Unactive";
                         }
                        else
                        {
                            activeAction = "Make Active";
                        }
                        <td>@Html.ActionLink(activeAction, "MakeActiveUnactive", "Profile", new { id = exersise.Id, isActive = exersise.Active}, null)</td>
                        <td>@Html.ActionLink(activeAction, "AddAnswer", "Profile", new { id = exersise.Id}, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


