@model IOrderedQueryable<CourseProject.Models.ApplicationUser>
@{
}
<div class="rating">
    <h4> @Resources.Resource.Rating</h4>
    @{ int i = 1;}
    @foreach (var user in Model)
    {
        <ul>
            <li>
                <span class="badge">@i </span>
                @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
            </li>
            @{ i = i + 1; }
        </ul>
    }
</div>
