@model System.Linq.IOrderedQueryable<CourseProject.Models.ApplicationUser>
@{
}
<div class="rating">
    <h4> @Resources.Resource.Rating</h4>
    @{ int i = 1;}
    @foreach (var user in Model)
    {
        <h5>
            @i )
            @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
            <span class="badge">@user.Rating </span>
        </h5>
        i = i + 1;
        <br>
    }
</div>
