@{
    ViewBag.Title = "ConfirmAccount";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.Resource.ConfirmEmailMessage @Html.ActionLink(@Resources.Resource.ConfirmEmailLoginLinkText, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
