div.register-form {
    height: 150px;
    background-color: greenyellow;
}
#search-box {
    position: relative;
    padding-top: 0px;
    width: 100%;
    margin: 0;
}

#search-form {
    padding-top: 0px;
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search-text {
    padding-top: 0px;
    font-size: 14px;
    color: #ddd;
    background: transparent;
    width: 100%;
}

#search-box input[type="text"] {
    width: 90%;
    height: 40px;
    padding-top: 0px;
    padding:5px;
}

#search-button {
    position: absolute;
    height: 40px;
    width: 105px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #4d90fe;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

div.body-content {
    width: 100%;
    padding-top: 60px;
    padding-left: 300px;
    padding-bottom: 10px;
    padding-right: 15px;
}

div.left-col {
    background: rgba(50, 90, 135, .75);
    width: 280px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    float: left;
    border-radius: 10px;
    color:#f0f8ff;
    border-color: #00008B;
}

div.home {
    height: 460px;
}


div.myexercises {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:darkslategray;
    border-radius: 10px;
    border-color: #FF1493;
    background: rgba(255, 0, 100, .1);
}

div.solvedexercises {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: #DC143C;
    background: rgba(255, 0, 50, .1);
}
div.userinfo {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: #FF69B4;
    background: rgba(255, 0, 255, .1);
}
div.rating {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color:darkslategray;
    border-color: #FA8072;
    background: rgba(75, 205, 255, .1);
}

.md-header {
    height: 40px;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #428BCA;
    background-image: linear-gradient(to bottom, #008cff, #2D6CA2);
    border-color: #2B669A #2B669A #2B669A;
    float: right;
}
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #2D6CA2;
    background-image: linear-gradient(to bottom, #2D6CA2, #2D6CA2);
    border-color: #2B669A #2B669A #2B669A;
    float: right;
}

.markdownpanel {
    width:64%;
    height: 50%;
}

.btn.btn-default.disabled, 
.btn.btn-default.disabled:hover {
    color: #0a0a0a;
    background-color: #91b8aa;
    background-image: linear-gradient(to bottom, #b1e8d8, #7ea899);
    background-position: 0 0;
    border-color: #4f634e #4f634e #4f634e;
}

div.comments {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:darkslategray;
    border-radius: 15px;
    border: 1px;
    border-color: dodgerblue;
    background: rgba(70, 150,250, 0.1);
}

div.addcomment {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1500px;
    padding-bottom: 15px;
    color:darkslategray;
    border-radius: 15px;
    border: 1px;
    border-color: dodgerblue;
    background: rgba(70, 150,250, 0.1);
}

#comment-button {
    position: absolute;
    height: 45px;
    width: 85px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #4d90ff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

