body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#search-box {
    position: relative;
    margin-left: 0.3em;
    margin-top: 1.5em;
    margin-right: 3em;
    
}

#search-form {
    padding-top: 0px;
    height: 40px;
}

#search-text {
    padding-top: 0px;
    
}

#search-box input[type="text"] {
    width: 90%;
    height: 40px;
    padding:5px;
}

#search-button {
    position: absolute;
    height: 40px;
    width: 10%;
    color: #fff;
    line-height: 40px;
    background-color: #4d90fe;
}

div.left-col {
    background: rgba(50, 90, 135, .75);
    border-radius: 10px;
    color:#f0f8ff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
}

div.home {
    height: 460px;
}


div.myexercises {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:darkslategray;
    border-radius: 10px;
    border-color: #FF1493;

}

div.solvedexercises {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: #DC143C;

}
div.userinfo {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: #FF69B4;

}
div.rating {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color:darkslategray;
    border-color: #FA8072;

}

.btn.btn-primary {
    color: #ffffff;
    background-color: #428BCA;
    background-image: linear-gradient(to bottom, #008cff, #2D6CA2);
    border-color: #2B669A #2B669A #2B669A;
    float: right;
}
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #2D6CA2;
    background-image: linear-gradient(to bottom, #2D6CA2, #2D6CA2);
    border-color: #2B669A #2B669A #2B669A;
    float: right;
}

.btn.btn-default.disabled, 
.btn.btn-default.disabled:hover {
    color: #0a0a0a;
    background-color: #91b8aa;
    background-image: linear-gradient(to bottom, #b1e8d8, #7ea899);
    background-position: 0 0;
    border-color: #4f634e #4f634e #4f634e;
}

div.comments {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:darkslategray;
    border-radius: 15px;
    border: 1px;
    border-color: dodgerblue;
    background: rgba(70, 150,250, 0.1);
}

div.addcomment {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1500px;
    padding-bottom: 15px;
    color:darkslategray;
    border-radius: 15px;
    border: 1px;
    border-color: dodgerblue;
    background: rgba(70, 150,250, 0.1);
}

#comment-button {
    position: absolute;
    height: 45px;
    width: 85px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #4d90ff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

div.container-body-content {
    padding-left: 0px;
    padding-right: 0px;
}