#search-box {
    position: relative;
    padding-top: 0px;
    width: 100%;
    margin: 0;
}

#search-form {
    padding-top: 0px;
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search-text {
    padding-top: 0px;
    font-size: 14px;
    color: #ddd;
    background: transparent;
    width: 100%;
}

#search-box input[type="text"] {
    width: 90%;
    height: 40px;
    padding-top: 0px;
}

#search-button {
    position: absolute;
    height: 40px;
    width: 105px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #4d90fe;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

div.body-content {
    width: 100%;
    padding-top: 60px;
    padding-left: 300px;
    padding-bottom: 10px;
}

div.left-col {
    background-color: #0000CD;
    width: 280px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    float: left;
    /* Internet Explorer */
    filter: alpha(opacity=80);
    /* CSS3 standard */
    opacity: 0.8;
    border-radius: 10px;
    color: #F0F8FF;
    border-color: #00008B;
}

div.home {
    height: 460px;
}

div.myexercises {
    background-color: #FF1493;
    /* Internet Explorer */
    filter: alpha(opacity=70);
    /* CSS3 standard */
    opacity: 0.7;
    border-radius: 10px;
    color: #F0F8FF;
    border-color: #FF1493;
}

div.solvedexercises {
    background-color:#DC143C;
    /* Internet Explorer */
    filter: alpha(opacity=70);
    /* CSS3 standard */
    opacity: 0.7;
    border-radius: 10px;
    color: #F0F8FF;
    border-color: #DC143C;
}
div.userinfo {
    background-color:#FF69B4;
    width: 90%;
    /* Internet Explorer */
    filter: alpha(opacity=70);
    /* CSS3 standard */
    opacity: 0.7;
    border-radius: 10px;
    color: #F0F8FF;
    border-color: #FF69B4;
}
